global
    log 127.0.0.1 local0 notice
    maxconn 2000
    user haproxy
    group haproxy

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

    balance roundrobin
    option redispatch
    #option httpchk GET / HTTP/1.0

frontend http
  bind :80
  default_backend srvs

backend srvs
  {{range $server := .app_demo_app}}
  server {{Base $server.Key}} {{$server.Value}} check
  {{end}}

listen stats :9000
  mode http
  stats enable
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri /
  stats auth forty9ten:changeme
